</form>
    <br/>
    <form action="{% url 'search' %}" method="GET" value="{{request.GET.q}}">
      <input type="text" name="q" value="{{request.GET.q}}" placeholder="Song title/Composer"/>
      <input type="submit" name="submit" value="Search"/> 
    </form>
    <small class="text-muted">Genre | <a style="color: #ff0000" href="{% url 'anthem' %}">Anthem</a> | <a style="color: #ff0000" href="{% url 'classical' %}">Classical</a> | <a style="color: #ff0000" href="{% url 'highlife' %}">Highlife</a> | <a style="color: #ff0000" href="{% url 'hymn' %}">Hymn</a> | </small>

    {% if submitbutton == 'Search' and request.GET.q != '' %} 
    {% if results %}

      <h5>Search Results for <b>{{ request.GET.q }}</b></h5>
    <br/><br/>

    <table class="table">
      <thread>
        <tr>
          <th>Title</th>
          <th>Composer</th>
          <th>Purchase</th>
          <th>Download</th>
        </tr>
        <tbody>
          {% for result in results %}
            <tr>
              <td>{{ result.title }}</td>
              <td>{{ result.composer }}</td>
              <td><a class="btn btn-success btn-sm" href="{% url 'post-purchase' result.id %}">Buy Now</a></td>
              <td><h5><a href="{{ result.doc_file.url }}" class="btn btn-info btn-sm">View Sample</a></h5></td>
            </tr>
          {% endfor %}
        </tbody>
      </thread>
    </table>
    {% else %}
      No search results for this query
    {% endif %}
    {% endif %}